.playlist-header {
  display: flex;
  align-items: flex-end;
}

.playlist-header-title {
  margin-left: 24px;
  font-size: 40px;
}

.playlist-header-owner {
  font-size: 16px;
  color: rgb(67, 181, 129);
}
