.playlist-header {
  display: flex;
  align-items: flex-end;
}

.playlist-header-title {
  margin-left: 24px;
  font-size: 40px;
}

.playlist-header-owner {
  font-size: 16px;
  color: var(--green);
}

.edit-profile-container {
  margin-top: 24px;
}

@media screen and (max-width: 750px) {
  .playlist-header {
    align-items: flex-start;
    flex-direction: column;
    margin: 24px;
  }

  .playlist-header-title {
    margin-left: 0;
    font-size: 16px;
    margin-top: 24px;
  }

  .edit-profile-container {
    margin-left: 24px;
    margin-top: 0;
  }
}
