.empty-content {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  background-color: var(--lightgray);
  overflow: hidden;
}

.empty-content-message {
  font-size: 16px;
  margin: 0 16px;
  color: rgb(35, 39, 42);
}

.search-icon-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: z 10s infinite;
}

@keyframes z {
  0% {
    transform: translate(-50%, -50%);
  }

  20% {
    transform: translate(300px);
  }

  40% {
    transform: translateX(-80px);
  }

  60% {
    transform: rotate(-30deg);
  }

  80% {
    transform: translateY(-80px);
  }
}

@keyframes phone-z {
  0% {
    transform: translate(-50%, -50%);
  }

  20% {
    transform: translate(100px);
  }

  40% {
    transform: translateX(-27px);
  }

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: translateY(-27px);
  }
}

@media screen and (max-width: 750px) {
  .search-icon-animation {
    animation: phone-z 10s infinite;
  }

  .library-icon {
    margin-left: 24px;
  }
}
