.purchase {
  display: flex;
}

.content-container {
  display: flex;
}

.main-content-wrapper {
  flex: 0.5;
  margin-left: 24px;
  margin-top: 24px;
}

.purchase-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 32px;
}
