.playlist-item {
  margin-bottom: 5px;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
}

.playlist-item:hover {
  background-color: var(--border);
}

.actions-dialog-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px;
}

.actions-dialog-header-text {
  margin-left: 20px;
}

@media screen and (max-width: 750px) {
  .actions-dialog-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .actions-dialog-header-text {
    margin-left: 0;
  }
}
