.file-upload {
  margin-top: 24px;
}

.file-upload-label {
  margin-top: 24px;
  color: white;
  background-color: var(--green);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.file-upload-input {
  margin-top: 20px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
