.account-header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.user-data {
  margin-left: 24px;
}

.account-address-bar {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.number-of-songs {
  font-size: 16px;
}
