.table-head {
  border-bottom: 1px solid var(--border);
  display: flex;
  margin-bottom: 10px;
}

.songs-table {
  margin-bottom: 24px;
}

.table-head-row {
  display: flex;
  align-items: center;
  padding: 24px;
}

.table-row {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}

.song-name {
  margin-left: 10px;
}

.table-row-overlay-left {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.table-row-overlay-right {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.table-row:hover .table-row-overlay-left {
  display: block;
}

.table-row:hover .table-row-overlay-right {
  display: block;
}

.table-row:hover {
  background-color: var(--border);
  transition: 0.5s;
}

@media screen and (max-width: 750px) {
  .removable {
    display: none;
  }

  .table-row {
    font-size: 12px;
  }
}
