.table-head {
  border-bottom: 1px solid rgb(246, 246, 246);
  display: flex;
}

.songs-table {
  margin-bottom: 24px;
}

.table-head-row {
  display: flex;
  align-items: center;
  padding: 24px;
}

.table-row {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}

.song-name {
  margin-left: 10px;
}

.table-row-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  padding-inline: 10px;
  background-color: rgba(32, 32, 32, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  transition: 0.15s;
}

.table-row-overlay:hover {
  opacity: 1;
}
