.song-card {
  padding: 16px;
  border: 1px solid var(--border);
  background-color: var(--lightgray);
  position: relative;
  overflow: hidden;
}

.artist-username {
  color: var(--green);
  font-size: 16px;
}

@media screen and (max-width: 750px) {
  .song-card {
    font-size: 12px !important;
  }
}
