.song-card {
  box-shadow: -1px 0px 10px 3px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -1px 0px 10px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 0px 10px 3px rgba(0, 0, 0, 0.33);
  padding: 16px;
  border-radius: 8px;
  background-color: white;
}
