.sold-song {
  padding: 24px;
  background-color: rgb(176, 255, 219);
  display: flex;
}

.number-of-sales {
  margin-top: 0;
  margin-bottom: 0;
}
.sold-song-default-paragraph {
  font-size: 16px;
  margin-top: 10px;
}
