.content-wrapper {
  display: flex;
}

.main-content-wrapper {
  flex: 0.8;
  margin-left: 24px;
  margin-top: 24px;
}

.explore-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
  margin-top: 32px;
  margin-bottom: 20px;
}

.explore-container-empty {
  margin-bottom: 20px;
}
