.header {
  border-bottom: 1px solid var(--border);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 24px;
}

.header-wallet-section {
  margin-right: 24px;
}

.header-sidebar-expand-button {
  display: none;
}

@media screen and (max-width: 750px) {
  .header-sidebar-expand-button {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
}
