.header {
  border-bottom: 1px solid var(--border);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 24px;
}

.header-wallet-section {
  margin-right: 24px;
}

.header-sidebar-expand-button {
  display: none;
}

.logging-in-alert {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  z-index: 10;
  background-color: white;
  box-shadow: -1px 0px 10px 3px rgba(0, 0, 0, 0.33);
}

.loggin-in-text {
  font-size: 16px;
  margin-left: 10px;
}

@media screen and (max-width: 750px) {
  .header-sidebar-expand-button {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
}
