.header {
  border-bottom: 1px solid rgb(246, 246, 246);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 24px;
}

.header-wallet-section {
  margin-right: 24px;
}
