.sidebar {
  position: sticky;
  top: calc(8vh + 1px);
  border-right: 1px solid var(--border);
  flex: 0.1;
  padding: 0 16px;
  z-index: 0;
}

.sidebar-playlist-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
}

.sidebar-playlist-item:hover {
  color: var(--green);
}

@media screen and (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
