.intro-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.text-content {
  flex: 0.5;
}

.topic-title {
  font-size: 40px;
  color: var(--green);
}

@media screen and (max-width: 750px) {
  .intro-panel {
    flex-direction: column !important;
    padding: 20px;
  }

  .image-mobile {
    width: 100%;
    margin: 50px 0 !important;
    transform: skew(0) !important;
  }
}

@media screen and (max-width: 1040px) {
  .intro-panel {
    padding: 20px;
  }
}
