.playlists-datatable {
  margin-bottom: 24px;
}

.playlist-datatable-row {
  position: relative;
  display: flex;
  position: relative;
  font-size: 16px;
}

.playlist-datatable-overlay-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: none;
}

.playlist-datatable-overlay-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: none;
}

.playlist-datatable-row:hover .playlist-datatable-overlay-left {
  display: block;
}

.playlist-datatable-row:hover .playlist-datatable-overlay-right {
  display: block;
}

.playlist-datatable-row:hover {
  background-color: var(--border);
  transition: 0.5s;
}

@media screen and (max-width: 750px) {
  .playlist-datatable-removable-item {
    display: none;
  }
}
